
CLAVE_KERNEL=HOLA soy el KERNEL
CLAVE_CPU=HOLA soy el CPU
CLAVE_IO=HOLA soy ENTRADA SALIDA
CLAVE_MEMORIA=HOLA SOY MEMORIA

UBUNTUSERVERIP=192.168.0.179

IP_KERNEL=127.0.0.1
IP_CPU=127.0.0.1
IP_IO=127.0.0.1
IP_MEMORIA=127.0.0.1

PUERTO=4444 //este se puede morir no?
PUERTO_KERNEL->CPU=4448
PUERTO_KERNEL->MEMORIA=4446
PUERTO_CPU->MEMORIA=8000
PUERTO_IO->KERNEL=3600
PUERTO_IO->MEMORIA=4447
